openapi: 3.0.0
info:
  title: Shipment Orders
  description: A document used by an organization to specify what items or packages are to be transferred from a storage location or warehouse to what person and to what new location is called a shipment order. It is typically sent along with a shipment of goods so that the person receiving them(your customer) can verify that the document correctly reflects the items that they actually received.
  contact: {}
  version: 1.0.0
servers:
  - url: https://www.zohoapis.com/inventory/v1
    description: API Endpoint
tags:
  - name: shipmentorders
    description: ShipmentOrders Module
paths:
  /shipmentorders:
    x-mcp-group:
      - Shipment Orders
    post:
      tags:
        - shipmentorders
      operationId: create_shipment_order
      summary: Create a Shipment Order
      description: A new shipment order can a be created. To create shipment, URL parameter's <code>package_ids</code> and <code>salesorder_id</code> are mandatory.
      parameters:
        - name: package_ids
          in: query
          description: Array of  package_id(s) to be shipped
          required: false
          schema:
            type: array
            items:
              type: object
              properties:
                package_id:
                  $ref: '#/components/schemas/package_id'
          example:
            - 4815000000017005
            - 4815000000017006
        - name: salesorder_id
          in: query
          description: Unique ID generated by the server for the Sales Order. This is used as identifier.
          required: false
          schema:
            type: string
          example: 4815000000044895
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-a-shipment-order-request'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-a-shipment-order-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoInventory.shipmentorders.CREATE
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /shipmentorders/{shipmentorder_id}:
    x-mcp-group:
      - Shipment Orders
    get:
      tags:
        - shipmentorders
      operationId: get_shipment_order
      summary: Retrieve a Shipment Order
      description: Retrieves details for an existing Shipment Orders.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retrieve-a-shipment-order-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoInventory.shipmentorders.READ
    put:
      tags:
        - shipmentorders
      operationId: update_shipment_order
      summary: Update a Shipment Order
      description: Update details of an existing Shipment Order in Zoho Inventory.
      parameters:
        - name: package_ids
          in: query
          description: Array of package_id(s) to be shipped
          required: true
          schema:
            type: string
          example: 4815000000017005,4815000000017006
        - name: salesorder_id
          in: query
          description: Unique ID generated by the server for the Sales Order. This is used as identifier.
          required: true
          schema:
            type: string
          example: 4815000000044895
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-a-shipment-order-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-a-shipment-order-response'
      security:
        - Zoho_Auth:
            - ZohoInventory.shipmentorders.UPDATE
    delete:
      tags:
        - shipmentorders
      operationId: delete_shipment_order
      summary: Delete a Shipment Order
      description: Deletes an existing Shipment Order.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-a-shipment-order-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoInventory.shipmentorders.DELETE
    parameters:
      - name: shipmentorder_id
        in: path
        required: true
        description: Unique identifier of the shipment order.
        schema:
          type: string
        example: 4815000000044598
      - $ref: '#/components/parameters/organization_id'
  /shipmentorders/{shipmentorder_id}/status/delivered:
    x-mcp-group:
      - Shipment Orders
    post:
      tags:
        - shipmentorders
      operationId: mark_shipment_order_as_delivered
      summary: Mark as Delivered
      description: Change the status of the Shipment to delivered.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mark-as-delivered-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoInventory.shipmentorders.CREATE
    parameters:
      - name: shipmentorder_id
        in: path
        required: true
        description: Unique identifier of the shipment order.
        schema:
          type: string
        example: 4815000000044598
      - $ref: '#/components/parameters/organization_id'
components:
  parameters:
    organization_id:
      name: organization_id
      description: ID of the organization
      in: query
      required: true
      schema:
        type: string
      example: '10234695'
  schemas:
    gendoc-attributes-schema:
      $ref: '#/components/schemas/shipment_order-response'
    shipment_order-response:
      type: object
      properties:
        salesorder_id:
          $ref: '#/components/schemas/salesorder_id'
        salesorder_number:
          $ref: '#/components/schemas/salesorder_number'
        shipment_id:
          $ref: '#/components/schemas/shipment_id'
        shipment_number:
          $ref: '#/components/schemas/shipment_number'
        date:
          $ref: '#/components/schemas/date'
        status:
          $ref: '#/components/schemas/status'
        detailed_status:
          $ref: '#/components/schemas/detailed_status'
        status_message:
          $ref: '#/components/schemas/status_message'
        carrier:
          $ref: '#/components/schemas/carrier'
        service:
          $ref: '#/components/schemas/service'
        delivery_days:
          $ref: '#/components/schemas/delivery_days'
        delivery_guarantee:
          $ref: '#/components/schemas/delivery_guarantee'
        reference_number:
          $ref: '#/components/schemas/reference_number'
        customer_id:
          $ref: '#/components/schemas/customer_id'
        customer_name:
          $ref: '#/components/schemas/customer_name'
        contact_persons:
          $ref: '#/components/schemas/contact_persons'
        currency_id:
          $ref: '#/components/schemas/currency_id'
        currency_code:
          $ref: '#/components/schemas/currency_code'
        currency_symbol:
          $ref: '#/components/schemas/currency_symbol'
        exchange_rate:
          $ref: '#/components/schemas/exchange_rate'
        discount_amount:
          $ref: '#/components/schemas/discount_amount'
        discount:
          $ref: '#/components/schemas/discount'
        is_discount_before_tax:
          $ref: '#/components/schemas/is_discount_before_tax'
        discount_type:
          $ref: '#/components/schemas/discount_type'
        estimate_id:
          $ref: '#/components/schemas/estimate_id'
        delivery_method:
          $ref: '#/components/schemas/delivery_method'
        delivery_method_id:
          $ref: '#/components/schemas/delivery_method_id'
        tracking_number:
          $ref: '#/components/schemas/tracking_number'
        line_items:
          $ref: '#/components/schemas/line_items'
        shipping_charge:
          $ref: '#/components/schemas/shipping_charge'
        sub_total:
          $ref: '#/components/schemas/sub_total'
        tax_total:
          $ref: '#/components/schemas/tax_total'
        total:
          $ref: '#/components/schemas/total'
        taxes:
          $ref: '#/components/schemas/taxes'
        price_precision:
          $ref: '#/components/schemas/price_precision'
        is_emailed:
          $ref: '#/components/schemas/is_emailed'
        billing_address:
          $ref: '#/components/schemas/billing_address'
        shipping_address:
          $ref: '#/components/schemas/shipping_address'
        template_id:
          $ref: '#/components/schemas/template_id'
        template_name:
          $ref: '#/components/schemas/template_name'
        template_type:
          $ref: '#/components/schemas/template_type'
        notes:
          $ref: '#/components/schemas/notes'
        shipmentorder_custom_fields:
          $ref: '#/components/schemas/custom_fields'
        created_time:
          $ref: '#/components/schemas/created_time'
        last_modified_time:
          $ref: '#/components/schemas/last_modified_time'
    salesorder_id:
      description: Unique ID generated by the server for the Sales Order. This is used as identifier.
      type: string
      example: 4815000000044895
    salesorder_number:
      description: The Sales Order number. This is unique for each sales order.
      type: string
      example: SO-00003
    shipment_id:
      description: Unique ID generated by the server for the shipment. This is used as an identifier.
      type: string
      example: 4815000000044917
    shipment_number:
      description: Shipment number of the package.
      type: string
      example: SH-00004
    date:
      description: Date on which package is prepared
      type: string
      example: '2017-01-11'
    status:
      description: Status of the Shipment Order
      type: string
      example: shipped
    detailed_status:
      description: Detailed shipment details received from the courier
      type: string
      example: Reached a courier facility near Toronto.
    status_message:
      description: Status message of the shipment.
      type: string
      example: Shipped
    carrier:
      description: Carrier used for shipment.
      type: string
      example: FedEx
    service:
      description: Type of service selected for shipment
      type: string
      example: FEDEX_2_DAY
    delivery_days:
      description: Number of days taken by the courier for delivering in package
      type: integer
      example: 2
    delivery_guarantee:
      description: guarantee assured by the courier. <code> For guaranteed on-time deliveries, it is true else it is false</code>
      type: boolean
      example: true
    reference_number:
      description: Tracking number for the Shipment.
      type: string
      example: TKG424242
    customer_id:
      description: Unique ID generated by the for the customer
      type: string
      example: 481500000000062000
    customer_name:
      description: Name of the customer
      type: string
      example: Peter James
    contact_person_id:
      description: Unique ID generated by the server for the contact person
      type: string
      example: 4815000000044080
    contact_persons:
      description: Array of contact person IDs.
      type: array
      items:
        type: object
        properties:
          contact_person_id:
            $ref: '#/components/schemas/contact_person_id'
      example: 4815000000044080
    currency_id:
      description: Unique ID generated by the server for the currency. This is used as an identifier.
      type: string
      example: 4815000000000097
    currency_code:
      description: Currency code.
      type: string
      example: USD
    currency_symbol:
      description: The symbol for the selected currency.
      type: string
      example: $
    exchange_rate:
      description: Exchange rate of the currency, with respect to the base currency.
      type: number
      format: double
      example: 1
    discount_amount:
      description: Discount to be applied on the Sales Order.
      type: number
      format: double
      example: 0
    discount:
      description: Discount applied to the shipment order, which can be either a percentage or a flat amount. For percentage discounts, the value should include the % symbol (e.g., 10%). For example, on Rs.1000, a 10% discount results in Rs.900, while a flat Rs.200 discount results in Rs.800.
      type: number
      format: double
      example: 20.00%
    is_discount_before_tax:
      description: Used to check whether the discount is applied before tax or after tax.
      type: boolean
      example: true
    discount_type:
      description: Type of discount
      type: string
      example: entity_level
    estimate_id:
      description: Unique ID generated by the server from the Estimate created in Zoho Books. This is used as an identifier.
      type: string
      example: 4815000000045091
    delivery_method:
      description: Delivery method of the shipment.
      type: string
      example: FedEx
    delivery_method_id:
      description: Unique ID generated by the server for the delivery method. This is used as an identifier.
      type: string
      example: 4815000000044822
    tracking_number:
      description: Tracking number of shipment.
      type: string
      example: TRK214124124
    item_id:
      description: Unique ID generated by the server for the item. This is used as an identifier.
      type: string
      example: 4815000000044100
    line_item_id:
      description: Unique ID generated by the server for each line item. This is used as an identifier.
      type: string
      example: 4815000000044897
    name:
      description: Name of the line item.
      type: string
      example: Laptop-white/15inch/dell
    description:
      description: Description of the line item.
      type: string
      example: Just a sample description.
    item_order:
      description: The order of the line items, starts from <code>0</code> by default.
      type: integer
      example: 0
    bcy_rate:
      description: Item rate in the organization's base currency.
      type: number
      format: double
      example: 122
    rate:
      description: Rate / Selling Price of the line item.
      type: number
      format: double
      example: 122
    quantity:
      description: Quantity of the line item.
      type: number
      format: double
      example: 2
    unit:
      description: Unit of line item.
      type: string
      example: qty
    tax_id:
      description: Unique ID generated by the server for the tax. This is used as an identifier.
      type: string
      example: 4815000000044043
    tax_name:
      description: Name of the tax applied on the line item.
      type: string
      example: Sales Tax
    tax_type:
      description: Denotes the type of the tax. This can either be a single tax or a tax group.
      type: string
      example: tax
    tax_percentage:
      description: Percentage of the tax.
      type: number
      format: double
      example: 12
    item_total:
      description: Total of line item.
      type: number
      format: double
      example: 244
    is_invoiced:
      description: Checks whether the Sales Order has been invoiced or not.
      type: boolean
      example: true
    line_items:
      description: List of items in a package. Each line item contains <code>line_item_id</code>,<code>item_id</code>,<code>name</code>,<code>description</code>,<code>item_order</code>,<code>bcy_rate</code>,<code>rate</code>,<code>quantity</code>,<code>unit</code>,<code>tax_id</code>,<code>tax_name</code>,<code>tax_type</code>,<code>tax_percentage</code>,<code>item_total</code>,<code>is_invoiced</code>.
      type: array
      items:
        type: object
        properties:
          item_id:
            $ref: '#/components/schemas/item_id'
          line_item_id:
            $ref: '#/components/schemas/line_item_id'
          name:
            $ref: '#/components/schemas/name'
          description:
            $ref: '#/components/schemas/description'
          item_order:
            $ref: '#/components/schemas/item_order'
          bcy_rate:
            $ref: '#/components/schemas/bcy_rate'
          rate:
            $ref: '#/components/schemas/rate'
          unit:
            $ref: '#/components/schemas/unit'
          tax_id:
            $ref: '#/components/schemas/tax_id'
          tax_name:
            $ref: '#/components/schemas/tax_name'
          tax_type:
            $ref: '#/components/schemas/tax_type'
          tax_percentage:
            $ref: '#/components/schemas/tax_percentage'
          item_total:
            $ref: '#/components/schemas/item_total'
          is_invoiced:
            $ref: '#/components/schemas/is_invoiced'
    shipping_charge:
      description: Shipping charges that are applied to the Shipment.
      type: number
      format: double
      example: 7
    sub_total:
      description: Sub total of the Sales Order.
      type: number
      format: double
      example: 244
    tax_total:
      description: Tax total of the Sales Order.
      type: number
      format: double
      example: 29
    total:
      description: Total amount of the Sales Order.
      type: number
      format: double
      example: 350
    tax_amount:
      description: Amount of the tax.
      type: number
      format: double
      example: 29.28
    taxes:
      description: 'Number of taxes applied on sales order. Each tax contains: <code>tax_name</code> and <code>tax_amount</code>.'
      type: array
      items:
        type: object
        properties:
          tax_name:
            $ref: '#/components/schemas/tax_name'
          tax_amount:
            $ref: '#/components/schemas/tax_amount'
    price_precision:
      description: The precision level for the price's decimal point in a Shipment.
      type: integer
      example: 2
    is_emailed:
      description: Checks whether the Package has been emailed to the customer or not.
      type: boolean
      example: true
    address:
      description: Name of the street of the customer's billing address.
      type: string
      example: No:234,90 Church Street
    city:
      description: Name of the city of the customer's billing address.
      type: string
      example: New York City
    state:
      description: Name of the state of the customer's billing address.
      type: string
      example: New York
    zip:
      description: Zip code of the customer's billing address.
      type: string
      example: 10048
    country:
      description: Name of the country of the customer's billing address.
      type: string
      example: U.S.A
    fax:
      description: Fax number of the customer's billing address.
      type: string
      example: 324-524242
    billing_address:
      description: Customer's billing address. It contains - <code>address</code>, <code>city</code>, <code>state</code>, <code>zip</code>, <code>country</code> and <code>fax</code>.
      type: array
      items:
        type: object
        properties:
          address:
            $ref: '#/components/schemas/address'
          city:
            $ref: '#/components/schemas/city'
          state:
            $ref: '#/components/schemas/state'
          zip:
            $ref: '#/components/schemas/zip'
          country:
            $ref: '#/components/schemas/country'
          fax:
            $ref: '#/components/schemas/fax'
    shipping_address:
      description: Customer's shipping address. It contains - <code>address</code>, <code>city</code>, <code>state</code>, <code>zip</code>, <code>country</code> and <code>fax</code>.
      type: array
      items:
        type: object
        properties:
          address:
            $ref: '#/components/schemas/address'
          city:
            $ref: '#/components/schemas/city'
          state:
            $ref: '#/components/schemas/state'
          zip:
            $ref: '#/components/schemas/zip'
          country:
            $ref: '#/components/schemas/country'
          fax:
            $ref: '#/components/schemas/fax'
    template_id:
      description: Unique ID generated by the server for the Template. This is used as an identifier.
      type: string
      example: 4815000000017003
    template_name:
      description: Name of the template used for the Shipment.
      type: string
      example: Standard
    template_type:
      description: Type of the template.
      type: string
      example: standard
    notes:
      description: Notes for package
      type: string
      example: notes
    customfield_id:
      type: string
      description: Unique ID of the custom field.
    label:
      description: Label of the Custom Field
      type: string
    value:
      description: Value of the Custom Field
      type: string
      example: Normal
    custom_fields:
      description: Custom fields for a shipmentorder.
      type: array
      items:
        type: object
        properties:
          customfield_id:
            $ref: '#/components/schemas/customfield_id'
          label:
            $ref: '#/components/schemas/label'
          value:
            $ref: '#/components/schemas/value'
    created_time:
      description: Time at which the Shipment Details was created.
      type: string
      example: 2015-05-28T00:00:00.000Z
    package_id:
      description: Unique ID generated by the server for packages
      type: string
      example: 4815000000017005
    package_ids:
      description: Array of  package_id(s) to be shipped
      type: array
      items:
        type: object
        properties:
          package_id:
            $ref: '#/components/schemas/package_id'
      example:
        - 4815000000017005
        - 4815000000017006
    last_modified_time:
      description: Time at which the Shipment Details details were last modified.
      type: string
      example: 2015-05-28T00:00:00.000Z
    create-a-shipment-order-request:
      required:
        - shipment_number
        - date
        - delivery_method
        - tracking_number
      type: object
      properties:
        shipment_number:
          $ref: '#/components/schemas/shipment_number'
        date:
          $ref: '#/components/schemas/date'
        reference_number:
          $ref: '#/components/schemas/reference_number'
        contact_persons:
          $ref: '#/components/schemas/contact_persons'
        delivery_method:
          $ref: '#/components/schemas/delivery_method'
        tracking_number:
          $ref: '#/components/schemas/tracking_number'
        shipping_charge:
          $ref: '#/components/schemas/shipping_charge'
        exchange_rate:
          $ref: '#/components/schemas/exchange_rate'
        template_id:
          $ref: '#/components/schemas/template_id'
        notes:
          $ref: '#/components/schemas/notes'
        shipmentorder_custom_fields:
          $ref: '#/components/schemas/custom_fields'
    update-a-shipment-order-request:
      required:
        - shipment_number
        - date
        - delivery_method
      type: object
      properties:
        shipment_number:
          $ref: '#/components/schemas/shipment_number'
        date:
          $ref: '#/components/schemas/date'
        reference_number:
          $ref: '#/components/schemas/reference_number'
        contact_persons:
          $ref: '#/components/schemas/contact_persons'
        delivery_method:
          $ref: '#/components/schemas/delivery_method'
        tracking_number:
          $ref: '#/components/schemas/tracking_number'
        shipping_charge:
          $ref: '#/components/schemas/shipping_charge'
        exchange_rate:
          $ref: '#/components/schemas/exchange_rate'
        template_id:
          $ref: '#/components/schemas/template_id'
        notes:
          $ref: '#/components/schemas/notes'
        shipmentorder_custom_fields:
          $ref: '#/components/schemas/custom_fields'
    create-a-shipment-order-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: Shipment created successfully.
          readOnly: true
        shipment_order:
          $ref: '#/components/schemas/shipment_order-response'
    update-a-shipment-order-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: Shipment Order updated successfully.
          readOnly: true
        shipmentorder:
          type: object
          properties:
            salesorder_id:
              $ref: '#/components/schemas/salesorder_id'
            salesorder_number:
              $ref: '#/components/schemas/salesorder_number'
            shipment_id:
              $ref: '#/components/schemas/shipment_id'
            shipment_number:
              $ref: '#/components/schemas/shipment_number'
            date:
              $ref: '#/components/schemas/date'
            status:
              $ref: '#/components/schemas/status'
            detailed_status:
              $ref: '#/components/schemas/detailed_status'
            status_message:
              $ref: '#/components/schemas/status_message'
            carrier:
              $ref: '#/components/schemas/carrier'
            service:
              $ref: '#/components/schemas/service'
            delivery_days:
              $ref: '#/components/schemas/delivery_days'
            delivery_guarantee:
              $ref: '#/components/schemas/delivery_guarantee'
            reference_number:
              $ref: '#/components/schemas/reference_number'
            customer_id:
              $ref: '#/components/schemas/customer_id'
            customer_name:
              $ref: '#/components/schemas/customer_name'
            contact_persons:
              $ref: '#/components/schemas/contact_persons'
            currency_id:
              $ref: '#/components/schemas/currency_id'
            currency_code:
              $ref: '#/components/schemas/currency_code'
            currency_symbol:
              $ref: '#/components/schemas/currency_symbol'
            exchange_rate:
              $ref: '#/components/schemas/exchange_rate'
            discount_amount:
              $ref: '#/components/schemas/discount_amount'
            discount:
              $ref: '#/components/schemas/discount'
            is_discount_before_tax:
              $ref: '#/components/schemas/is_discount_before_tax'
            discount_type:
              $ref: '#/components/schemas/discount_type'
            estimate_id:
              $ref: '#/components/schemas/estimate_id'
            delivery_method:
              $ref: '#/components/schemas/delivery_method'
            delivery_method_id:
              $ref: '#/components/schemas/delivery_method_id'
            tracking_number:
              $ref: '#/components/schemas/tracking_number'
            line_items:
              $ref: '#/components/schemas/line_items'
            shipping_charge:
              $ref: '#/components/schemas/shipping_charge'
            sub_total:
              $ref: '#/components/schemas/sub_total'
            tax_total:
              $ref: '#/components/schemas/tax_total'
            total:
              $ref: '#/components/schemas/total'
            taxes:
              $ref: '#/components/schemas/taxes'
            price_precision:
              $ref: '#/components/schemas/price_precision'
            is_emailed:
              $ref: '#/components/schemas/is_emailed'
            billing_address:
              $ref: '#/components/schemas/billing_address'
            shipping_address:
              $ref: '#/components/schemas/shipping_address'
            template_id:
              $ref: '#/components/schemas/template_id'
            template_name:
              $ref: '#/components/schemas/template_name'
            template_type:
              $ref: '#/components/schemas/template_type'
            notes:
              $ref: '#/components/schemas/notes'
            shipmentorder_custom_fields:
              $ref: '#/components/schemas/custom_fields'
            created_time:
              $ref: '#/components/schemas/created_time'
            last_modified_time:
              $ref: '#/components/schemas/last_modified_time'
    retrieve-a-shipment-order-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: success
          readOnly: true
        shipment_order:
          type: object
          properties:
            salesorder_id:
              $ref: '#/components/schemas/salesorder_id'
            salesorder_number:
              $ref: '#/components/schemas/salesorder_number'
            shipment_id:
              $ref: '#/components/schemas/shipment_id'
            shipment_number:
              $ref: '#/components/schemas/shipment_number'
            date:
              $ref: '#/components/schemas/date'
            status:
              $ref: '#/components/schemas/status'
            detailed_status:
              $ref: '#/components/schemas/detailed_status'
            status_message:
              $ref: '#/components/schemas/status_message'
            carrier:
              $ref: '#/components/schemas/carrier'
            service:
              $ref: '#/components/schemas/service'
            delivery_days:
              $ref: '#/components/schemas/delivery_days'
            delivery_guarantee:
              $ref: '#/components/schemas/delivery_guarantee'
            reference_number:
              $ref: '#/components/schemas/reference_number'
            customer_id:
              $ref: '#/components/schemas/customer_id'
            customer_name:
              $ref: '#/components/schemas/customer_name'
            contact_persons:
              $ref: '#/components/schemas/contact_persons'
            currency_id:
              $ref: '#/components/schemas/currency_id'
            currency_code:
              $ref: '#/components/schemas/currency_code'
            currency_symbol:
              $ref: '#/components/schemas/currency_symbol'
            exchange_rate:
              $ref: '#/components/schemas/exchange_rate'
            discount_amount:
              $ref: '#/components/schemas/discount_amount'
            discount:
              $ref: '#/components/schemas/discount'
            is_discount_before_tax:
              $ref: '#/components/schemas/is_discount_before_tax'
            discount_type:
              $ref: '#/components/schemas/discount_type'
            estimate_id:
              $ref: '#/components/schemas/estimate_id'
            delivery_method:
              $ref: '#/components/schemas/delivery_method'
            delivery_method_id:
              $ref: '#/components/schemas/delivery_method_id'
            tracking_number:
              $ref: '#/components/schemas/tracking_number'
            line_items:
              $ref: '#/components/schemas/line_items'
            shipping_charge:
              $ref: '#/components/schemas/shipping_charge'
            sub_total:
              $ref: '#/components/schemas/sub_total'
            tax_total:
              $ref: '#/components/schemas/tax_total'
            total:
              $ref: '#/components/schemas/total'
            taxes:
              $ref: '#/components/schemas/taxes'
            price_precision:
              $ref: '#/components/schemas/price_precision'
            is_emailed:
              $ref: '#/components/schemas/is_emailed'
            billing_address:
              $ref: '#/components/schemas/billing_address'
            shipping_address:
              $ref: '#/components/schemas/shipping_address'
            template_id:
              $ref: '#/components/schemas/template_id'
            template_name:
              $ref: '#/components/schemas/template_name'
            template_type:
              $ref: '#/components/schemas/template_type'
            notes:
              $ref: '#/components/schemas/notes'
            shipmentorder_custom_fields:
              $ref: '#/components/schemas/custom_fields'
            created_time:
              $ref: '#/components/schemas/created_time'
            last_modified_time:
              $ref: '#/components/schemas/last_modified_time'
    delete-a-shipment-order-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: The Shipment Order has been deleted.
          readOnly: true
    mark-as-delivered-response:
      type: object
      properties:
        code:
          type: integer
          example: 0
          readOnly: true
        message:
          type: string
          example: The Shipment Order has been marked as Delivered.
          readOnly: true
  securitySchemes:
    Zoho_Auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://accounts.zoho.com/oauth/v2/auth
          scopes:
            ZohoInventory.shipmentorders.CREATE: Create Shipmentorders
            ZohoInventory.shipmentorders.READ: Read Shipmentorders
            ZohoInventory.shipmentorders.UPDATE: Update Shipmentorders
            ZohoInventory.shipmentorders.DELETE: Delete Shipmentorders
