name: Release
on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    if: github.repository == 'matagaralph/zapi-inventory'
    runs-on: ubuntu-latest
    timeout-minutes: 20
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/ci-setup

      - name: Generate SDK (openapi specs + types)
        run: bun run sdk:generate

      - name: Build
        run: bun run build

      - name: Create Release Pull Request or Publish to npm
        uses: changesets/action@v1
        with:
          version: bunx changeset version
          publish: bunx changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.GH_RELEASE_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
